@model KonfigurationSampleApp.Models.PositionOptions;
@{
    ViewData["Title"] = "ReadWithPositionOptionsAsOptionPattern";
}

<h1>ReadWithPositionOptionsAsOptionPattern</h1>

<p>@Model.Title</p>
<p>@Model.Name</p>